---
import { getEntry } from "astro:content";
import MarkdownLayout from "../../layouts/MarkdownLayout.astro";

// 1. Get the slug from the incoming server request
const { blogSlug } = Astro.params;
if (blogSlug === undefined) {
  throw new Error("blogSlug is required");
}
// 2. Query for the entry directly using the request blogSlug
const entry = await getEntry("blog", blogSlug);
// 3. Redirect if the entry does not exist
if (entry === undefined) {
  return Astro.redirect("/404");
}
// 4. (Optional) Render the entry to HTML in the template
const { Content } = await entry.render();
---

<MarkdownLayout title={`Nurl | ${blogSlug}`}>
  <figure class="blog-feature">
    <div></div>
  </figure>

  <Content frontmatter={entry.data} />

  <div class="md-conclusion">
    <p>
      The Nurl app was launched in 2023 to make playing tabletop role-playing
      games like <a href="https: dnd.wizards.com">Dungeons & Dragons &copy;</a>
       and <a href="https://paizo.com/pathfinder">Pathfinder &copy;</a> easy by
      combining advanced algorithms, extensions, and all your necessary tools
      into one online dashboard so you can level up your enjoyment of the game
      while powering down the chaos.
    </p>
    <p>
      To stay connected with Nurl, visit our <a href="https://nurl.website"
        >website</a
      > or follow on <a href="https://www.facebook.com/NurlApp">Facebook</a>, <a
        href="https://www.instagram.com/nurl.app">Instagram</a
      >, <a href="https://twitter.com/NurlApp">X</a>, <a
        href="https://www.linkedin.com/company/nurl/"></a>, and <a
        href="https://www.twitch.tv/nurl_app">Twitch</a
      >.
    </p>
  </div>
</MarkdownLayout>

<style>
  .blog-feature {
    display: none;
    background-color: var(--manaBlue);
    border-radius: 2rem;
    height: 14rem;
    margin-bottom: 2rem;
  }
  .md-conclusion {
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-top: 2rem;
    max-width: 88ch;
  }
</style>
