---
import Layout from "../../layouts/Layout.astro";
const { title } = Astro.props;
---

<Layout title="Nurl Blog">
  <div class="blog-container">
    <h1>Articles</h1>
    <nav>
      <ul class="blog-grid">
        <li>
          <a href="/blog/not-just-for-dnd">
            Nurl APP Not Just for D&D
            <time datetime="2024-02-13">Feb 13, 2024</time>
          </a>
        </li>
        <li>
          <a href="/blog/plan-session-ten-minutes">
            Plan your session in Just 10 minutes
            <time datetime="2024-02-08">Feb 8, 2024</time>
          </a>
        </li>
        <li>
          <a href="/blog/nurl-changes-twitch-schedule">
            Nurl Changes Twitch Schedule
            <time datetime="2024-02-06">Feb 6, 2024</time>
          </a>
        </li>
        <li>
          <a href="/blog/nurl-begins-product-dev">
            Nurl Begins Multi-Platform Product Development
            <time datetime="2024-02-01">Feb 1, 2024</time>
          </a>
        </li>
        <li>
          <a href="/blog/feature-focus-nuro">
            Feature Focus: Nuro&trade;
            <time datetime="2024-01-10">Jan 10, 2024</time>
          </a>
        </li>
        <li>
          <a href="/blog/og-ttrpg-turns-50">
            Original TTRPG Game Turns 50 in 2024
            <time datetime="2024-01-08">Jan 8, 2024</time>
          </a>
        </li>
        <li>
          <a href="/blog/january-features">
            January Features
            <time datetime="2024-01-05">Jan 5, 2024</time>
          </a>
        </li>
        <li>
          <a href="/blog/january-bugs-rehomed">
            January Bugs are Rehomed
            <time datetime="2024-01-03">Jan 3, 2024</time>
          </a>
        </li>
        <li>
          <a href="/blog/nurl-rewards-program">
            Nurl Rewards Program
            <time datetime="2024-01-02">Jan 2, 2024</time>
          </a>
        </li>
        <li>
          <a href="/blog/nurl-now-on-twitch">
            Nurl Now on Twitch
            <time datetime="2023-12-28">Dec 28, 2023</time>
          </a>
        </li>
        <li>
          <a href="/blog/beta-goes-global">
            Beta Goes Global
            <time datetime="2023-12-23">Dec 23, 2023</time>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</Layout>

<style>
  .blog-container {
    background-color: var(--wizardWhite);
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
  }

  .blog-container h1 {
    color: var(--tpkBlack);
    font-size: 2rem;
  }

  .blog-grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    max-width: 88ch;
    padding: 1rem;
  }

  nav ul li {
    height: 14rem;
    width: 100%;
    transition: scale 200ms ease-in-out;
  }

  nav ul li:hover {
    scale: 1.05;
  }

  nav ul li a {
    align-items: center;
    background: var(--manaBlue);
    border-radius: 1rem;
    color: var(--tpkBlack);
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    padding: 1rem;
    text-decoration: none;
    width: 100%;
  }

  nav ul li a time {
    color: var(--tpkBlack);
    font-size: 1rem;
    font-weight: normal;
    margin-top: 0.5rem;
  }

  nav ul li a:hover {
    text-decoration: underline;
  }

  article {
    padding: 1rem;
    background: #fff;
  }

  @media screen and (min-width: 768px) {
    .blog-grid {
      display: grid;
      flex-direction: initial;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-template-rows: 14rem;
      grid-gap: 1rem;
      height: 100%;
      list-style: none;
      margin: 0 auto;
      max-width: 88ch;
      padding: 1rem;
    }

    .blog-container h1 {
      font-size: 4rem;
      padding-bottom: 2rem;
      padding-top: 2rem;
    }
  }
</style>
