---
import { getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

// 1. Get the slug from the incoming server request
const { slug } = Astro.params;
if (slug === undefined) {
  throw new Error("Slug is required");
}
// 2. Query for the entry directly using the request slug
const entry = await getEntry("legal", slug);
// 3. Redirect if the entry does not exist
if (entry === undefined) {
  return Astro.redirect("/404");
}
// 4. (Optional) Render the entry to HTML in the template
const { Content } = await entry.render();
---

<Layout title={`Nurl | ${slug}`}>
  <div class="md-layout">
    <Content />
  </div>
</Layout>

<style>
  .md-layout {
    background-color: var(--wizardWhite);
    color: var(--tpkBlack);
    padding: 3rem;
  }

  .md-layout h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .md-layout h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .md-layout h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .md-layout h4 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .md-layout h5 {
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }

  .md-layout h6 {
    font-size: 0.75rem;
    margin-bottom: 1rem;
  }

  .md-layout p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .md-layout a {
    color: var(--tpkBlue);
    text-decoration: none;
  }

  .md-layout a:hover {
    text-decoration: underline;
  }

  .md-layout ul {
    list-style: disc;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .md-layout ol {
    list-style: decimal;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .md-layout li {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  .md-layout blockquote {
    border-left: 0.25rem solid var(--fourXBlue);
    margin-left: 0;
    padding-left: 1rem;
  }

  .md-layout pre {
    background-color: var(--wizardWhite);
    color: var(--tpkBlack);
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .md-layout code {
    background-color: var(--wizardWhite);
    color: var(--tpkBlack);
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0.25rem;
  }

  .md-layout hr {
    border: 0;
    border-top: 1px solid var(--tpkBlack);
    margin-bottom: 1rem;
  }

  .md-layout table {
    border-collapse: collapse;
    margin-bottom: 1rem;
    width: 100%;
  }

  .md-layout table th {
    border-bottom: 1px solid var(--tpkBlack);
    font-size: 0.875rem;
    font-weight: 700;
    padding: 0.5rem;
    text-align: left;
  }

  .md-layout table td {
    border-bottom: 1px solid var(--tpkBlack);
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0.5rem;
  }

  .md-layout table tr:last-child td {
    border-bottom: 0;
  }

  .md-layout table tr:nth-child(even) {
    background-color: var(--wizardWhite);
  }

  .md-layout table tr:nth-child(odd) {
    background-color: var(--wizardWhite);
  }

  .md-layout table tr:hover {
    background-color: var(--wizardWhite);
  }

  .md-layout table tr:nth-child(even):hover {
    background-color: var(--wizardWhite);
  }

  .md-layout table tr:nth-child(odd):hover {
    background-color: var(--wizardWhite);
  }

  .md-layout table tr:last-child td {
    border-bottom: 0;
  }

  .md-layout table tr:last-child td:first-child {
    border-bottom-left-radius: 0.25rem;
  }
</style>
