---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nurl, contact us for a partnership">
  <div class="contact-col">
    <main>
      <h1>Contact us</h1>
      <p>Fill out the form and we will respond with the next steps.</p>
    </main>

    <form>
      <div>
        <label for="name">Name (required)</label>
        <input
          aria-labelledby="help:name"
          type="text"
          id="name"
          name="name"
          required
        />
        <small id="help:name">So we know what to call you.</small>
      </div>

      <div>
        <label for="name">Company (required)</label>
        <input
          aria-labelledby="help:company"
          type="text"
          id="company"
          name="company"
          required
        />
        <small id="help:company">So we can do our research.</small>
      </div>

      <div>
        <label for="email">Email (required)</label>
        <input
          aria-labelledby="help:email"
          type="email"
          id="email"
          name="email"
          required
        />
        <small id="help:email">So we can respond to you.</small>
      </div>

      <div>
        <label for="message">Message (required)</label>
        <textarea
          aria-labelledby="help:message"
          id="message"
          name="message"
          required></textarea>
        <small id="help:message"
          >Tell us about your project and goals with Nurl.</small
        >
      </div>

      <button type="submit">Submit</button>
    </form>
  </div>
</Layout>

<style>
  html {
    background-color: #000029;
  }

  .contact-col {
    padding-bottom: 4rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-top: 4rem;
    margin-bottom: 4rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: 88ch;
  }

  h1 {
    color: var(--wizardWhite);
    font-size: 2rem;
    margin-block-end: 1rem;
  }

  p {
    color: var(--manaBlue);
    font-size: 1rem;
    margin-block-start: 0;
    margin-block-end: 1rem;
  }

  form {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
  }

  div {
    display: grid;
    gap: 0.5rem;
  }

  label {
    display: block;
    color: var(--wizardWhite);
    font-size: 1rem;
  }

  input,
  textarea {
    display: block;
    background-color: var(--wizardWhite);
    border: 1px solid var(--wizardWhite);
    border-radius: 0.25em;
    color: var(--tpkBlack);
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
  }

  small {
    color: var(--manaBlue);
    font-size: 0.75rem;
  }

  button {
    background-color: var(--sandboxGold);
    border: 1px solid var(--sandboxGold);
    border-radius: 0.25em;
    color: #000029;
    font-size: 1rem;
    height: 3rem;
    margin-top: 1rem;
  }

  :is(input, textarea, button):focus {
    outline: 2px solid var(--manaBlue);
    outline-offset: 2px;
  }
</style>
