---
import Layout from "../layouts/Layout.astro";
import EarlyAccessForm from "../components/EarlyAccessForm.astro";
---

<Layout title="Nurl TTRPG">
  <main>
    <section>
      <p class="headline">The TTRPG companion you can't live without</p>
      <p class="headline-support">
        Nurl helps player's and GM's alike become the "10x Player"&trade; by
        providing a fully extensible, customizable, and interactive experience.
      </p>
    </section>

    <section>
      <EarlyAccessForm />
    </section>
  </main>
</Layout>

<style>
  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 4rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-top: 4rem;
    text-align: center;
  }

  .headline {
    font-size: 2rem;
    font-weight: bold;
  }

  .headline-support {
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    line-height: 1.5;
    max-width: 60ch;
  }

  @media (min-width: 768px) {
    .headline {
      font-size: 3rem;
    }

    .headline-support {
      font-size: 2rem;
    }

    .headline-cta {
      font-size: 2rem;
    }
  }
</style>
