---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nurl TTRPG">
  <main class="thanks-page">
    <h1>You're already on the list!</h1>
    <h2>Don't worry, we will keep in touch.</h2>
    <p>
      In the meantime, follow us on all of our social media platforms for the
      most up to date information.
    </p>
  </main>
</Layout>

<style>
  .thanks-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
  }
  h1 {
    font-size: 3rem;
    color: var(--n00bYellow);
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.5rem;
    text-align: center;
  }
</style>
