---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Beta Access Requested">
  <div class="container">
    <main>
      <h1>Nat Twenty!</h1>
      <p class="headline-support">
        Thanks for becoming an early adopter! We'll be in touch with you soon
        with more information about how to get started.
      </p>
      <p>Head back to the <a href="/">home page</a>.</p>
    </main>
  </div>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }

  main {
    max-width: 80ch;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .headline-support {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.2rem;
  }
</style>
