---
const { href } = Astro.props;
---

<a class="button-link" href={href}>
  <slot />
</a>

<style>
  .button-link {
    align-items: center;
    display: inline-flex;
    background-color: var(--sandboxGold);
    border: 1px solid var(--sandboxGold);
    border-radius: 0.25rem;
    color: var(--tpkBlack);
    justify-content: center;
    height: 3rem; /* mobile a11y size */
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
  }

  .button-link:hover {
    background-color: var(--n00bYellow);
  }

  @media screen and (min-width: 768px) {
    .button-link {
      padding: 0.75rem 1.5rem;
      width: auto;
    }
  }
</style>
