---
interface Props {
  question: string;
  response: string;
  description: string;
}

const { question, response, description } = Astro.props;
---

<li class="nuro-card-container">
  <div class="nuro-card">
    <div>
      <span>nuro</span>
      <p>Greetings, traveler! how can I assist you today?</p>
    </div>
    <div>
      <span class="me">me</span>
      <p>{question}</p>
    </div>
    <div>
      <span>nuro</span>
      <p>{response}</p>
    </div>
  </div>
  <small>{description}</small>
</li>

<style>
  .nuro-card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .nuro-card {
    border-radius: 0.5rem;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
    height: 15rem;
    overflow: hidden;
  }

  .nuro-card div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 1rem;
    margin-inline-start: 0.5rem;
    margin-inline-end: 0.5rem;
    padding-top: 1.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-bottom: 1.5rem;
  }
  .nuro-card div:last-child {
    border-bottom: none;
  }

  .nuro-card span {
    display: inline-block;
    background-color: var(--manaBlue);
    border-radius: 0.2rem;
    color: var(--tpkBlack);
    font-weight: bold;
    height: 1.5rem;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    text-transform: uppercase;
  }
  .nuro-card span.me {
    background-color: rgba(0, 0, 0, 0.1);
  }

  @media screen and (min-width: 768px) {
    .nuro-card {
      width: 32.5rem;
    }
  }
</style>
