---
import { Icon } from "astro-icon";
---

<div>
  <p class="cta">Join the beta app</p>
  <a href="https://beta.nurl.app" target="_blank" rel="noopener noreferrer">
    Sign up, it's free!
    <Icon aria-hidden class="icon" pack="mdi" name="external-link" />
  </a>
</div>

<style>
  div {
    text-align: center;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    width: 100%;
  }

  div .cta {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  a {
    align-items: center;
    border: none;
    background-color: var(--n00bYellow);
    border-radius: 2rem;
    display: inline-flex;
    color: var(--tpkBlack);
    font-size: 1.2rem;
    font-weight: bold;
    gap: 0.5rem;
    height: 4rem;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
  }

  a:hover {
    background-color: var(--manaBlue);
  }

  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  @media (min-width: 768px) {
    div {
      padding-inline-start: 2rem;
      padding-inline-end: 2rem;
    }

    a {
      padding-inline-start: 4rem;
      padding-inline-end: 4rem;
      width: auto;
    }
  }
</style>
