---

---

<div class="sign-up">
  <p>Join the beta app</p>
  <a
    class="button"
    href="https://beta.nurl.app"
    target="_blank"
    rel="noopener noreferrer"
  >
    Sign up
  </a>
</div>

<style>
  .sign-up {
    max-width: 60ch;
    margin: 0 auto;
  }

  p {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .button {
    align-items: center;
    border: none;
    background-color: var(--actionBg);
    border-radius: 2rem;
    display: inline-flex;
    color: var(--warningBg);
    font-size: 1.2rem;
    font-weight: bold;
    height: 4rem;
    justify-content: center;
    width: 100%;
  }

  .button:hover {
    filter: brightness(1.8);
  }
</style>
