---
import type { GetStaticPaths } from "astro";
import { Icon } from "astro-icon";

const socialLinks = [
  {
    name: "Twitter",
    url: "https://twitter.com/NurlApp",
    icon: "twitter",
  },
  {
    name: "Instagram",
    url: "https://instagram.com/nurl.app",
    icon: "instagram",
  },
  {
    name: "Facebook",
    url: "https://facebook.com/NurlApp",
    icon: "facebook",
  },
  {
    name: "Reddit",
    url: "https://www.reddit.com/r/nurl/",
    icon: "reddit",
  },
  {
    name: "YouTube",
    url: "https://www.youtube.com/@NurlApp",
    icon: "youtube",
  },
  {
    name: "Twitch",
    url: "https://twitch.tv/nurl_app",
    icon: "twitch",
  },
  {
    name: "Discord",
    url: "https://discord.gg/nurl",
    icon: "discord",
  },
];
---

<footer>
  <div class="footer-container">
    <section class="social-section">
      <div class="footer-logo">
        <a class="footer-logo-link" href="/">
          <img src="/inverted-logo.svg" alt="Nurl Logo" />
        </a>
      </div>

      <hr />

      <ul>
        {
          socialLinks.map((link) => (
            <li>
              <a
                aria-label={link.name}
                class="social-link"
                href={link.url}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon aria-hidden pack="mdi" name={link.icon} />
              </a>
            </li>
          ))
        }
      </ul>
    </section>

    <section class="sitemap">
      <h3>Company</h3>
      <ul class="sitemap-link-list">
        <li>
          <a class="sitemap-link" href="/">Home</a>
        </li>
        <li>
          <a class="sitemap-link" href="/blog">Blog</a>
        </li>
      </ul>
    </section>
  </div>

  <section class="legal">
    <div class="legal-links">
      <a href="/legal/privacy">Privacy Policy</a>
      <a href="/legal/terms">Terms of Service</a>
    </div>
    <small> &copy; 2023 Nurl, Inc. All rights reserved.</small>
  </section>
</footer>

<style>
  footer {
    align-items: center;
    background-color: var(--tpkBlack);
    color: var(--surface);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
  }

  .footer-container {
    width: 100%;
  }

  .social-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    max-width: 60ch;
    padding: 1rem;
    width: 100%;
  }

  .footer-logo {
    margin: 0 auto;
    width: 6.75rem;

    img {
      width: 100%;
    }
  }

  hr {
    border: 0;
    border-top: 1px solid rgba(225 225 225 / 0.2);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
  }

  .sitemap {
    padding-top: 3rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-bottom: 3rem;
    margin: 0 auto;
    max-width: 60ch;
    width: 100%;
  }

  .sitemap-link {
    color: var(--wizardWhite);
    display: inline-block;
    text-decoration-color: var(--oneUpPink);
  }

  .sitemap-link:hover {
    color: var(--oneUpPink);
  }

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    width: 2rem;
  }

  .social-link {
    color: var(--oneUpPink);
    font-size: 1.5rem;
    width: 100%;
  }

  .social-link:hover,
  .social-link:focus {
    color: var(--sandboxGold);
  }

  .social-link {
    fill: var(--surface);
  }

  .legal {
    text-align: center;
    max-width: 88ch;
    width: 100%;
  }

  .legal-links {
    align-items: center;
    border-top: 1px solid rgba(225 225 225 / 0.2);
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    padding: 2rem;
  }

  a {
    display: inline-block;
    color: var(--surface);
  }

  small {
    font-size: 0.75rem;
    color: var(--wizardWhite);
  }

  .sitemap-link-list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
  }

  .sitemap li {
    width: 100% !important;
  }

  .sitemap h3 {
    color: var(--manaBlue);
  }

  @media (min-width: 768px) {
    footer {
      padding-bottom: 4.5rem;
    }

    .legal-links {
      margin-inline-start: 0;
      margin-inline-end: 0;
    }
  }

  @media (min-width: 1080px) {
    .footer-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-inline-start: 2rem;
      padding-inline-end: 2rem;
      padding-bottom: 10rem;
    }

    .footer-logo {
      width: 8.75rem;
    }

    .social-section,
    .sitemap {
      margin: initial;
    }
  }
</style>
