---

---

<header>
  <div class="logo">
    <a aria-label="Navigate to home page" href="/">
      <img
        alt="Nurl Logo"
        decoding="async"
        loading="lazy"
        src="/logo.svg"
        height="128"
        width="128"
      />
    </a>
  </div>
</header>

<style>
  header {
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
  }

  .logo {
    color: var(--text);
    font-weight: bold;
    margin: 0 auto;
    width: 8rem;
  }
</style>
