---

---

<header>
  <div class="logo">
    <a aria-label="Navigate to home page" href="/">
      <img
        alt="Nurl Logo"
        decoding="async"
        loading="lazy"
        src="/logo.svg"
        height="128"
        width="128"
      />
    </a>
  </div>
</header>

<style>
  header {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-top: 1rem;
    text-align: center;
  }

  .logo {
    width: 8rem;
  }
</style>
