---

---

<header>
  <h1 class="logo">
    <a href="/">
      <img src="/logo.svg" alt="Nurl Logo" />
    </a>
  </h1>
</header>

<style>
  header {
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
  }

  .logo {
    color: var(--text);
    font-weight: bold;
    margin: 0 auto;
    width: 8rem;
  }
</style>
