---
import Layout from "./Layout.astro";
const { title } = Astro.props;
---

<Layout title={`Nurl | ${title}`}>
  <div class="md-layout">
    <slot />
  </div>
</Layout>

<style is:global>
  .md-layout {
    background-color: var(--wizardWhite);
    color: var(--tpkBlack);
    padding-top: 4rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-bottom: 4rem;
  }

  .md-layout article {
    margin: 0 auto;
    max-width: 88ch;
  }

  .md-layout h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .md-layout h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .md-layout h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .md-layout h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .md-layout h5 {
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .md-layout h6 {
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .md-layout p {
    margin-bottom: 1rem;
  }

  .md-layout a {
    color: var(--fourXBlue);
  }

  .md-layout a:hover {
    text-decoration: underline;
  }

  .md-layout ul {
    list-style: disc;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .md-layout ol {
    list-style: decimal;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .md-layout li {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  .md-layout blockquote {
    background-color: hsla(196, 100%, 47%, 0.2);
    border-left: 0.25rem solid var(--manaBlue);
    border-radius: 6px;
    margin-bottom: 1rem;
    margin-left: 0;
    padding-top: 1rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-bottom: 0.5rem;
  }

  .md-layout pre {
    background-color: var(--wizardWhite);
    color: var(--tpkBlack);
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .md-layout code {
    background-color: var(--wizardWhite);
    color: var(--tpkBlack);
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0.25rem;
  }

  .md-layout hr {
    border: 0;
    border-top: 1px solid var(--tpkBlack);
    margin-bottom: 1rem;
  }

  .md-layout table {
    border-collapse: collapse;
    margin-bottom: 1rem;
    width: 100%;
  }

  .md-layout table th {
    border-bottom: 1px solid var(--tpkBlack);
    font-size: 0.875rem;
    font-weight: 700;
    padding: 0.5rem;
    text-align: left;
  }

  .md-layout table td {
    border-bottom: 1px solid var(--tpkBlack);
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0.5rem;
  }

  .md-layout table tr:last-child td {
    border-bottom: 0;
  }

  .md-layout table tr:nth-child(even) {
    background-color: var(--wizardWhite);
  }

  .md-layout table tr:nth-child(odd) {
    background-color: var(--wizardWhite);
  }

  .md-layout table tr:hover {
    background-color: var(--wizardWhite);
  }

  .md-layout table tr:nth-child(even):hover {
    background-color: var(--wizardWhite);
  }

  .md-layout table tr:nth-child(odd):hover {
    background-color: var(--wizardWhite);
  }

  .md-layout table tr:last-child td {
    border-bottom: 0;
  }

  .md-layout table tr:last-child td:first-child {
    border-bottom-left-radius: 0.25rem;
  }

  .md-conclusion {
    margin-top: 3rem;
  }
</style>
